body{
	background-color: black;
}

article{
	background-color: white;
}

section{
	background-color: #7B8D8E;
	width: 1000px;
	margin: 0 auto;
	overflow: auto;
}


.box2{
	background-color: white;
	height: 800px;
	width: 1000px;
	margin: 0 auto;
	overflow: auto;
}


#feat{
	border: 6px solid orange;
	background-color: white;
	height: 800px;
	width: 1000px;
	margin: 0 auto;
	overflow: auto;
}


header{
	border-radius: 15px;
margin-bottom: 50px;
background-color: #F2EDD8;
overflow: auto;

}

.box{
	background-color:#BDBDBD;
	margin: 0 auto;
	width: 900px;
	height: 450px;
overflow: auto;
}

#aboutme{
	position: relative;
	left: 375px;
	width: 400px;
	height: 300px;
	background-color: #F2EDD8;

}

img{
	margin-left: 40px;
	display: inline;
	border: 1px solid black;
	max-width: 100%

}


.cpic{
	display: block;
	margin-left:auto;
	margin-right: auto;
	margin-top:75px;
	border: 1px solid black;
}

h1{
	text-align: center;
}

h3{
	text-align: center;
}
.seperate {
    padding-right: 5px;
    border-right: 3px solid white;
}
nav a {
    text-align: center;
    text-decoration: none;
    color: #7B8D8E;
    font-size: 1.250em;
}

nav ul {
    padding-top: 14px;
    padding-right: 30px;
    float: right;
    list-style-type: none;
}

li{
	display: inline;
}