<!DOCTYPE html>
<html>
<head>
	<title>Responsive Masonry</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->

<div class="wrapper">
	<div class="wrapper">
	<h1> Sean's first Masonry</h1>



	<div class="masonry">
   		<div class="item"><img src="images/stuart.jpg"><h2>Minons 1</h2><hr><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>
   		<div class="item"><img src="images/violet.jpg"><h2>violet 1</h2><hr><p>from thwejjakfoekwEA</p></div>
   		<div class="item"><img src="images/ralph.jpg"><h2>Wreck it ralph 1</h2><hr><p>from thwejjakfoekwEAwokgtrgokw</p></div>
   		<div class="item"><img src="images/mr.jpg"><h2>Mr. incredible 1</h2><hr><p>from thwejjakfoekwEA</p></div>
   		<div class="item"><img src="images/Remy.jpg"><h2>ratatouille 1</h2><hr><p>from thwejjakfoekwEA</p></div>
   		<div class="item"><img src="images/cars.jpg"><h2>cars 1</h2><hr><p>from thwejjakfoekwEA</p></div>
   		<div class="item"><img src="images/doug.jpg"><h2>Up 1</h2><hr><p>from thwejjakfoekwEA</p></div>
   		<div class="item"><img src="images/pixpaper.gif"><h2>pixar 1</h2><hr><p>from thwejjakfoekwEA</p></div>
		<div class="item"><img src="images/hap.jpg"><h2>Happy feet</h2><hr><p>from thwejjakfoekwEA</p></div>
   		<div class="item"><img src="images/woody.jpg"><h2>woody</h2><hr><p>from thwejjakfoekwEA</p></div>
   		<div class="item"><img src="images/hulk.jpg"><h2>hulk</h2><hr><p>from thwejjakfoekwEA</p></div>
   		<div class="item"><img src="images/iron.jpg"><h2>iron man</h2><hr><p>from thwejjakfoekwEA</p></div>
   		<div class="item"><img src="images/deadpool.jpg"><h2>Deadpool</h2><hr><p>from thwejjakfoekwEA</p></div>
   		<div class="item"><img src="images/bat.jpg"><h2>Batman</h2><hr><p>from thwejjakfoekwEA</p></div>
   		<div class="item"><img src="images/joker.jpg"><h2>joker</h2><hr><p>from thwejjakfoekwEA</p></div>
   		<div class="item"><img src="images/min.gif"><h2>Minons</h2><hr><p>from thwejjakfoekwEA</p></div>
   		<div class="item"><img src="images/jok2.gif"><h2>joker</h2><hr><p>from thwejjakfoekwEA</p></div>
	</div>

		</div> <!-- end of second wrapper-->
	</div><!-- end of first wrapper-->

		
	<!-- End Component -->
	
</body>
</html>