<!DOCTYPE html>
<html>
<head>
	<title>Responsive Masonry</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	<section>
		<article>
			<img src="images/stuart.jpg">
			<h2>Minons</h2>
			<hr>
			<p>from thwejjakfoekwEA</p>
		</article>
		<article>
			<img src="images/woody.jpg">			
			<h2>woody</h2>
						<hr>
			<p>from thwejjakfoekwEA</p>
		</article>
		<article>
			<img src="images/ralph.jpg">
			<h2>Wreck it ralph</h2>
			<hr>
			<p>from thwejjakfoekwEA</p>
		</article>

			<article>
				<img src="images/mr.jpg">
			<h2>Mr. incredible</h2>
			<hr>
			<p>from thwejjakfoekwEA</p>
		</article>

		<article>
			<img src="images/Remy.jpg">
			<h2>ratatouille</h2>
			<hr>
			<p>from thwejjakfoekwEA</p>
		</article>

		<article>
			<img src="images/cars.png">
			<h2>cars</h2>
			<hr>
			<p>from thwejjakfoekwEA</p>
		</article>
			<article>
			<img src="images/doug.jpg">
			<h2>Up</h2>
			<hr>
			<p>from thwejjakfoekwEA</p>
			</article>
		<article></article>
		<article></article>

	</section>

	<!-- End Component -->
	
</body>
</html>