<!DOCTYPE html>
<html>
<head>
	<title>Cta</title>
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,800,600' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

	
</head>
<body>

		<!-- Component -->
<header>
</header>
	<section>
		<article>
		<ul>
			<li><a href="">Home</a></li>
			<li><a href="">Products</a></li>
			<li><a href="">services</a></li>
			<li><a href="">case studies</a></li>
			<li><a href="">blog</a></li>
			<li><a href="">About us</a></li>
			<li><a href="">contact us</a></li>
		</ul>

		<h1>Dream Big.</h1>
			<h3>"If my mind can conceive it and my heart can <br>believe it, then i can achieve it"</h3>
			<p>-muhammad ali</p>
			<a href="" id="learn">Learn how</a>
			</article>
	</section>
	<footer>
		<p>hekoekoea</p>
	</footer>

	<!-- End Component -->
	
</body>
</html>