<!DOCTYPE html>
<html>
<head>
	<title>Ad banner</title>
<link href='https://fonts.googleapis.com/css?family=Cedarville+Cursive' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->

	<aside>
        <div id="ribbon">New</div>
		<h3><span>your</span><BR>product</h3>
		<P>Donec id elit non mi.<br>porta gravida at eget.<br>Duis mollis,est non.<br>commodo luctus.<br>nisi erat porttier.</P>
		<img src="images/iphone.jpeg" alt="">
		<div id="order">
		<h4>Limited time offer</h4>
		<h1><span>Free</span><br></h1>
		<h1>Shipping</h1>
		<button>Order Now</button>
		</div>
	</aside>

	<!-- End Component -->
	
</body>
</html>