/* Component Stylesheet 
============================================================
============================================================*/
aside{
	width: 160px;
	height: 600px;
	border: 1px solid red;
	margin: 0 auto;
}

button{
	display: block;
	margin:0 auto;
}