/* Component Stylesheet 
============================================================
============================================================*/

section{
	height: 100px;
	background-color: #272727;
	text-align: center;
	color: #969696;
}


a{
		color: #969696;

}

footer{
	color:#fefff6;
background-color: #5b9638;
height: 200px;
}

ul{
	clear: both;

}

li{
	margin-bottom: 200px;
	display: inline;
}


#flist{
	margin-bottom: 10px;
}

#up{
	margin-top:15px;
	float: right;
	display: block;
	margin-right: 15px;
}


.border{
	padding-left: 5px;
border-left:1px solid #fefff6;

}

h2,p{
	text-align: center;
}
