<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
<footer>
<section>
	<ul>
		<li><a href="">Home</a></li>
		<li><a href="">Menu</a></li>
		<li><a href="">Story</a></li>
		<li><a href="">Detox</a></li>
		<li><a href="">Locations</a></li>
	</ul>	

<ul>


		<li><a href="">Contact</a></li>
		<li class="border"><a href="">Blog</a></li>
		<li class="border"><a href="">Catering</a></li>
		<li class="border"><a href="">Delivery</a></li>
</ul>

</section>
<h2>Health Fast-casual food, crafted with in minneapolis</h2>
<p>Agra culture kitchen & press all rights reserved</p>
</footer>
	<!-- End Component -->
	
</body>
</html>