/* Component Stylesheet 
============================================================
============================================================*/
header{
	border: 1px solid green;
	height: 120px;
    overflow: auto;
}

ul{
	list-style-type: none;
}

li{
    height:120px;
	margin-right: 80px;
	display: inline;}



img{
}


a{
    
}




.seperate{
    padding: 5px;
    border-right: 1px solid red;
}