/* Component Stylesheet 
============================================================
============================================================*/
header{
	border: 1px solid green;
    overflow: auto;
}

nav{
	max-width: 100%;
}

ul{
	list-style-type: none;
}


hr{
	display: inline;
}

li{
	text-align: center;
	display: inline;
	overflow: auto;
}

li:first-of-type {
    margin-left: 300px;
}

li:last-of-type {
	border: none;
}

img{
}


a{
		padding:40px;

	text-align: center;
    
}
