<!DOCTYPE html>
<html>
<head>
	<title>header</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	<header>
        <nav>
      		<ul>
				<li><img src="images/square_logo_landscape.png" alt="" height="100px"></li>
				<hr>
				<li><img src="images/Square-Register-App.png" alt="" height="80px"><a href="" class="seperate">square register</a></li>
				<hr>
				<li><a href=""><img src="images/square-wallet.png" alt="" height="80px">Square wallet</a></li>
				<hr>
				<li><button>Sign In</button></li>
			</ul>
        </nav>
	</header>

	<!-- End Component -->
	
</body>
</html>

